.container{
    max-width: 360px;
    margin: 0 auto;
    padding: 0 16px;
}

.addBackImg{
    background-image: url('../../assets/images/hero/hero-image-mb.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

@media only screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding: 0 32px;
    }
    .addBackImg{
        background-image: url(../../assets/images/hero/hero-image-table.webp);
    }
}

@media only screen and (min-width: 1024px) {
    .container{
        max-width: 1024px;
        padding: 0 60px;
    }
    .addBackImg{
        background-image: url(../../assets/images/hero/hero-image-desktop.webp);
        height: 650px;
    }
}

@media screen and (min-width: 2560px) {
    .container{
        max-width: 1170px;
        padding: 0;
    }
}