.headerStyle{
    background: #fff;
    position:sticky;
    top: 0;
    z-index: 999;
}
.paragraph{
    padding-top: 4px;
}
.headerContainer{
    display: flex;
    align-items: center;
    column-gap: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.buttonsContainer{
    display: flex;
    column-gap: 10px;
}


@media only screen and (min-width: 768px) {
    .headerContainer{
        column-gap: 390px;
    }
}

@media only screen and (min-width: 1024px) {
    .headerContainer{
        column-gap: 590px;
    }
}
@media screen and (min-width: 2560px) {
    .headerContainer{
        column-gap: 856px;
    }
}