@font-face{
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2) format('woff2');
    font-optical-sizing: auto;
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}